# testing scripts
___testing_scripts___ .py

# virtual environments
.venv
venv/

# environment variables
.env

# byte-compiled
__pychace__/
.*pyc

# ide sttings


# local database 
*.db
*.sqlite3


# testing
.testing_file.py