
    <a style="text-decoration: none; text-align: justify; color: black !important;" href="{{ project_url/github_url }}" target="_blank">
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body jumbotron">
                <h3 class="uk-card-title">{{ title }}</h3>
                <p>{{ description }}</p>
                <p style="text-align:right;"><a href="{{ github_url }}" target="_blank" uk-icon="github"></a>
            </div>
        </div>
        </a>
    