{% extends 'layout.html' %}

{% block content %}
    <div class="container" >
        <div class="uk-width-1-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, iure adipisci. Tenetur culpa fugiat optio quos nisi repellat consequatur esse voluptatem architecto, veritatis soluta odit. Numquam, doloribus! Neque, suscipit nihilLorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, iure adipisci. Tenetur culpa fugiat optio quos nisi repellat consequatur esse voluptatem architecto, veritatis soluta odit.
        </div>
        <div class="uk-width-2-3">     
            <p>I am a self-taught developer with a primary focus on Python and C/C++ programming language. I come from the Czech Republic, but currently, I live in Italy.</p>
            
            <p>I started to learn to code when I was trading in a CME stock exchange because I wanted to automate some of my intraday strategies. I used to blog about my trading path time ago. You can have a look at it here if you are into those things. Even I did not make myself a millionaire as a trader, it was a great experience, I have learned a lot and improved myself in many aspects.</p>
            
            <p>Over time I turned to like coding more and started dedicating more and more time to it. Compared to the stock exchange, it had one huge advantage - it was deterministic. The code either worked, or it did not. If it did not, then there was a bug. If I fixed the bug it started to work. Financial markets are the opposite. They are chaotic. There is no principal rule of what works and what does not. If something does not work, you have no clue if it does not work because you made a mistake (bug), or because it is just not supposed to work anyway. No one really knows anything. Everyone is just guessing. This fact came to be much more obvious when I coded a random walk AOS - a system that took trades absolutelly randomly, comparing its results to the people who took trades based on a "properly tested trading plan" only. It showed up that my random-walk AOS had equal or better results..</p>
            
            <p>But anyway, I will be forever partially involved in the world of financial markets even though it sort of sucks. It is extremely challenging environment and I seem to like to challenge myself. Besides the custom studies and trading systems that I have written, I have started to build an algo monitoring web app called IntradayBook.com which allows others to connect their platform and track the results with market stats. The goal of this site is to improve the trading results with the help of proper analysis of objective market data, not the subjective interpretation of it.</p>
        
            <p>Also, because I am a great fan of underground ambient music, I have built an online radio streamer that is dedicated to this peculiar style of music in all its flavors. You can have a listen to it here if you want to undergo a unique form of sonic therapy. </p>
        </div>
    </div>

    {% endblock %}


