{% extends 'layout.html' %}

{% block content %}

    <div class="container longstory">
        <h2>About Me - The Long Story</h2>
        <hr>
        <p>
I am strange because I write code and don't drink coffee. My primary focus is on C/C++, Python and Java, yet I can write some JavaScript as well. I started to learn to code when I was a daytrader on CME derivate exchange, as I wanted to automate some of my strategies.
</p>
        
        <p>
Over time I turned to it more and started dedicating more time to it. Compared to trading, coding had one huge advantage - it was deterministic. The markets were not - they were chaotic. There is actually no rule of what works and what does not, what is correct and what is incorrect. Sure, one can say that all these irregularities and apparently random states of disorder are actually governed by underlying patterns and deterministic laws hidden somewhere in the depth of the cosmic engine. But for an ordinary guy without a PhD. in math it was pretty difficult to crack.</p>

<p> I have been trading and working for large brokerage companies and everywhere it was the same. No one knew anything. Everyone was just guessing. This fact became much more clear when I built a random walk AOS - a system trading utterly randomly, disregarding market data and comparing its results to people who strictly followed a "properly tested trading plan". It showed up that the AOS had equal or better results. It was terrifying news.
</p>
        <p>
The makets are an extremely challenging environment, especially in short term intraday timeframes. For some reason, I seem to like to challenge myself and so I will be forever somehow involved in it. Even though I do not do full-time day trading anymore, I still keep an eye on it. When I was into it, I could not sleep without my daily dose of order flow. Later on, a daily dose of order flow was combined with a daily dose of C++. I used to spend 10+ hours a day watching ticking charts, calculating bid and ask on a millisecond timestamp. What a tremendous waste of time! I have built a couple of studies and trading systems based on the C++ ACSIL framework which allowed me to sort of step away from the screen. These systems used worked well. For some time.
</p>   

<p>
I am now working as a backend developer of an energy trading and risk management system for a company headquerted in Prague. The system is written in Java and so I use Java most of the time in my daily job. Beside that, I use Python for some smaller gigs (website, API, some data analysis, etc.) and keep coding my own system and studies in C++.
</p>


        <p>
In my free time, I do yoga & meditation, drink herbal teas and collect experimental ambient music. I've always had quite a strange musical taste, anti-mainstream. I set up an online radio streamer dedicated to ambient and related genres.
 You can <a href="http://www.atma.fm" target="_blank">have a listen to it here</a> if you want to undergo a unique form of sonic therapy.</p>       
    </div>
    </div>
    {% endblock %}


