{% extends 'layout.html' %}

{% block content %}

<div class="container" style="text-align: justify">
        <h1>About Me</h1>
        <hr>
        <p>I am a self-taught programmer with a primary focus on Python and C/C++. I come from the Czech Republic, but currently living in Italy.</p>
        
        <p>I started to learn coding when I was trading in a CME stock exchange because I wanted to automate some of my intraday strategies. I used to blog about my trading path, you can have a look at it here if you are into those things.</p>
        
        <p>Over time I turned to code more and started dedicating more and more time to it. Compared to the the markets, it had one advantage - it was deterministic. The markets are quite the opposite - they are chaotic. There is no rule of what works and what does not. I have been working for very big brokerage companies and everywhere it is the same. No one really knows anything. Everyone is just guessing. This fact became more obvious when I build a random walk AOS - a system trading absolutelly randomly, disregarding market data - comparing its results to people who strictly followed a "properly tested trading plan". It showed up that the AOS had equal or better results. What a discovery! Many retails still live in the illusion that they will make it big one day. The brigher ones started selling courses on "How to guess it better...". </p>
                
        <p>Anyway, I will be forever partially involved in the world of financial markets even though it sort of sucks in principle. It is extremely challenging environment and I seem to like to challenge myself. Sometimes I may make a post on this topic with my personal opinions, ideas or views here on this blog. I still keep an eye on the markets, trading from time to time, but I am not a fulltime daytrader anymore. When I was into that, I have coded several studies in ACSIL C++, and I may share some know-how here since there is virtualy no information about it.<p>
    
        <p>Besides trading and coding, I really enjoy yoga, meditation, ayrvedic therapy and all these mystical things that are hidden inside. I am very attracted to hindu scriptures (I have studied religion in university by the way) and eastern mythology in general is something really close to me. In the future, I will definatelly make some project devoted to it.</p>

        <p>Another of my passion is music. I always had a musical taste somehow different from mainstream, collecting hard-to-find albums from my youth. One day I have decided to build an online radio streamer dedicated to ambient & deep audio which a very special subgenre of electronic music. You can have a listen to it here if you want to undergo a unique form of sonic therapy.</p>

 <!-- It either worked, or it did not. If it did not, then there was a bug. If I fixed the bug it started to work. -->
            <!-- If something does not work, there is no chance to know if there is a mistake (bug) in the approach, or if it is not supposed to work anyway.Virtually all their students went bancrupt of course. The everlasting unpredictability of an outcome is cool for a while, but then it feels really creepy. -->

        <!-- Besides the custom studies and trading systems that I have written, I have started to build an algo monitoring web app called IntradayBook.com which allows others to connect their platform and track the results with market stats. The goal of this site is to improve the trading results with the help of proper analysis of objective market data, not the subjective interpretation of it.</p> -->
    
       
    </div>
</div>
    {% endblock %}


