<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/css/uikit.min.css" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        
        {% block styles %} {% endblock %}
    </head>

    <body class="d-flex flex-column min-vh-100">

        <header>
        {% include 'partials/navbar-top.html' %}
        </header>

        <div class="container pt-5">
            <main>
            {% block content %} 
            {% endblock %}
            </main>
        </div>       

        {% include 'partials/footer.html' %}
        
        {% include 'partials/scripts.html' %}

    </body>
</html>



