{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="container col-sm-4">
        <div style="border-style: dashed">
            <div>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.</p>
            </div>
        </div>
    </div>

    <div class="container col-sm-8">
        <div style="border-style: dashed">
            <article>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.</p>
            </article>
        </div>

        <div style="border-style: dashed">
            <article>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.</p>
            </article>
        </div>
        <div style="border-style: dashed">
            <article>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.</p>
            </article>
        </div>
        <div  style="border-style: dashed">
            <article>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.</p>
            </article>
        </div>
        <div style="border-style: dashed">
            <article>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.</p>
            </article>
        </div>
    </div>
</div>
{% endblock %}
