{% extends 'layout.html' %}

{% block content %}
<div class="row">

    <div class="container col-sm-4">
        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.</p>
    </div>

    <div class="container col-sm-8">

        <article>
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.
            </p>
            <div style="text-align: right">
                <a href="#"><button class="uk-button uk-button-small">Read More</button></a>
            </div>
        </article>
        <br>
        
        <article>
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.
            </p>
            <div style="text-align: right">
                <a href="#"><button class="uk-button uk-button-small">Read More</button></a>
            </div>
        </article>
        <br>

        <article>
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.
            </p>
            <div style="text-align: right">
                <a href="#"><button class="uk-button uk-button-small">Read More</button></a>
            </div>
        </article>
        <br>

        <article>
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.
            </p>
            <div style="text-align: right">
                <a href="#"><button class="uk-button uk-button-small">Read More</button></a>
            </div>
        </article>
        <br>

    </div>
</div>
{% endblock %}
