{% extends 'layout.html' %}

{% block content %}
<div class="row">

    <div class="container col-sm-4" style="text-align: justify">

        <div>
            <h3>About Me - The Short Story</h3>
            <p>I am a lonely Python, C/C++ coder with a strong background in financial markets, and an interest in modern art. I am not a computer scientist. I am more an application-driven guy, so sure I have many gaps in my knowledge. But I strive to do my best, keep learning new things, and pushing boundaries to the limits.</p>
        </div>
  
        <hr>
        <div>
            <a class="twitter-timeline" data-theme="light" href="https://twitter.com/lukaskotatko/likes?ref_src=twsrc%5Etfw">Tweets Liked by @lukaskotatko</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

    </div>



    <div class="container col-sm-8">

        <article>
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.
            </p>
            <div style="text-align: right">
                <a href="#"><button class="uk-button uk-button-small">Read More</button></a>
            </div>
        </article>
        <br>

        <article>
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.
            </p>
            <div style="text-align: right">
                <a href="#"><button class="uk-button uk-button-small">Read More</button></a>
            </div>
        </article>
        <br>

        <article>
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.
            </p>
            <div style="text-align: right">
                <a href="#"><button class="uk-button uk-button-small">Read More</button></a>
            </div>
        </article>
        <br>

        <article>
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, ipsa!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, rem ratione, cum autem facilis architecto velit pariatur provident debitis molestiae temporibus accusantium eum inventore vero amet eligendi expedita explicabo voluptas.
            </p>
            <div style="text-align: right">
                <a href="#"><button class="uk-button uk-button-small">Read More</button></a>
            </div>
        </article>
        <br>

    </div>
</div>
{% endblock %}
