{% extends 'layout.html' %}

{% block content %}

<div class="container projects">
<h2>Projects</h2>
<hr>
    <p>I've started to write code as a hobby first. Here are some of my public projects I was working on the fun or because I wanted to get in touch with a particular technology. My private projects are mostly trading systems and they are not listed here for obvious reasons. I do not want to share nor the idea neither the source. You can see the web-based project running online when you click on the tab. If you want to check the source code, you have to click the small GitHub icon at the right-down corner.</p>
<br>

{% for project in projects %}
    {% if project.project_url %}
        <a style="text-decoration: none; text-align: justify; color: black !important;" href="{{ project.project_url }}" target="_blank">
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body jumbotron">
                    <h3 class="uk-card-title">{{ project.title }}</h3>
                    <p>{{ project.description | safe }}</p>
                    {% if  project.github_url  %}
                        <p style="text-align:right;"><a href="{{ project.github_url }}" target="_blank" uk-icon="github"></a>
                    {% endif %}
                </div>
            </div>
        </a>
    {% else %}
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body jumbotron">
                <h3 class="uk-card-title">{{ project.title }}</h3>
                <p>{{ project.description | safe}}</p>
                {% if  project.github_url  %}
                    <p style="text-align:right;"><a href="{{ project.github_url }}" target="_blank" uk-icon="github"></a>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endfor%}

</div>

{% endblock %}
