{% extends 'layout.html' %}

{% block content %}

<!-- <div class="my-container" style="margin-left: 130px; margin-right: 130px"> -->
<h1>Projects</h1>
<hr>
<div class="container">
    <p>I've started to write code as a hobby first and a job second. Here are some of the projects that I was working on for fun or because I wanted to get in touch with a particular technology. This is essentially my way of learning new things and re-learning the old ones. </p>
</div>
<br>

<a style="text-decoration: none; text-align: justify; color: black !important;" href="http://www.atma-fm.eu" target="_blank">
    <div class="uk-card uk-card-default uk-card-hover uk-card-body jumbotron">
        <h3 class="uk-card-title">AtmaFM - Underground Online Radio</h3>
        <p>I have always been a huge fan of music. Unfortunatelly, my musical taste is quite a peculiar one and so I always had a hard time finding a radio station that would fit my needs. That is why I have build my own. A personal online radio station that focuses primarily on ambient & related genres. 
        <p>It is written in Python using Flask framework, running on Fedora Linux, streaming nonstop 24/7.</p>
        <p style="text-align:right;"><a href="https://github.com/ExperimentalHypothesis/flask-online-radio" target="_blank" uk-icon="github"></a>
    </div>
</a>
    
<a style="text-decoration: none; text-align: justify; color: black !important;" href="https://covidtrackboard.herokuapp.com/" target="_blank">
    <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body jumbotron">
            <h3 class="uk-card-title">Covid Tracker - Real-Time Data Visualisation for USA</h3>
            <p>The pandemy of Corona virus has been a huge topic for quite some time. I did not really believed in all the stories and all the numbers associated with it. Especially when USA started to scream. A little on good API and this Covid TrackBoard came into existence.</p>
            <p>It is written in Python Dash, a nice framework for browser based data visualisation. I really like Dash, although it is quite a pain to style the HTML from within the Python code.</p>
            <p style="text-align:right;"><a href="https://github.com/ExperimentalHypothesis/dash-covidtrackboard" target="_blank" uk-icon="github"></a>
        </div>
    </div>
</a>

<div>
    <div class="uk-card uk-card-default uk-card-hover uk-card-body jumbotron">
        <h3 class="uk-card-title">SC ACSIL C++ Custom Studies for MySQL</h3>
        <p>Working with Sierra Chart trading platform and coding custom studies and trading systems using its ACSIL C++ framework is quite a terrible experience, especially when you need these to be connected to MySQL database. Here I put together a working example of a study that writes details of each entry into a database table. Seems like a trivial task, but it was quite a headache to make it work flawlessly.</p>
        <p>It is written in C++ using on Windows using Visual Studio 17. </p>
        <p style="text-align:right;"><a href="https://github.com/ExperimentalHypothesis/SC-WriteIntoMySQL" target="_blank" uk-icon="github"></a>
    </div>
</div>



{% endblock %}
