{% extends 'layout.html' %}

{% block content %}

<div class="uk-container uk-grid" >

    <div class="uk-child-width-1@s uk-grid-match" uk-grid>

       <a style="text-decoration: none; text-align: justify;" href="http://www.atma-fm.eu">
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">AtmaFM - Underground Online Radio</h3>
                <p>I have always been a huge fan of music. Unfortunatelly, my musical taste is quite a peculiar one and so I always had a hard time finding a radio station that would fit my needs. That is why I have build my own. A personal online radio station that focuses primarily on ambient & related genres. 
                <p>It is written in Python using Flask framework, running on Fedora Linux, streaming nonstop 24/7.</p>
                <p style="text-align:right;"><a href="https://github.com/ExperimentalHypothesis/flask-online-radio" uk-icon="github"></a>
            </div>
        </div>
        </a>

        <a style="text-decoration: none; text-align: justify;" href="https://covidtrackboard.herokuapp.com/">
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">Covid Tracker - Real-Time Data Visualisation for USA</h3>
                <p>The pandemy of Corona virus has been a huge topic for quite some time. I did not really believed in all the stories and all the numbers associated with it. Especially when USA started to scream. A little on good API and this Covid TrackBoard came into existence.</p>
                <p>It is written in Python Dash, a nice framework for browser based data visualisation. I really like Dash, although it is quite a pain to style the HTML from within the Python code.</p>
                <p style="text-align:right;"><a href="https://github.com/ExperimentalHypothesis/dash-covidtrackboard" uk-icon="github"></a>
            </div>
        </div>
        </a>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">SC ACSIL C++ Custom Studies for MySQL</h3>
                <p>Working with Sierra Chart trading platform and coding custom studies and trading systems using its ACSIL C++ framework is quite a terrible experience, especially when you need these to be connected to MySQL database. Here I put together a working example of a simple study that writes details of each entry into a database table. Voila. Seems like a trivial task, but no. It was quite a headache. Believe me. Follow the README.md EXACTLY if you want to make it work, otherwise you will loose all your hair when trying to fix the bugs.</p>
                <p>It is written in C++ using on indows using Visual Studio.</p>
                <p style="text-align:right;"><a href="https://github.com/ExperimentalHypothesis/SC-WriteIntoMySQL" uk-icon="github"></a>
            </div>
        </div>


        <div>
            <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
                <h3 class="uk-card-title">Secondary</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>

    </div>








    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>

        <a style="text-decoration: none; text-align: justify;" href="http://www.atma-fm.eu">
            <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">AtmaFM - Underground Online Radio</h3>
                <p>I have always been a huge fan of music. Unfortunatelly, my musical taste is quite a peculiar one and so I always had a hard time finding a radio station that would my needs. That is why I have build my own. A personal online radio station that focuses primarily on ambient & related genres. 
                <p>It is written in Python using Flask framework, running on Fedora Linux, streaming nonstop 24/7.</p>
            </div>
         </a>

         <a style="text-decoration: none; text-align: justify;" href="http://www.atma-fm.eu"><div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">AtmaFM - Underground Online Radio</h3>
                <p>I have always been a huge fan of music. Unfortunatelly, my musical taste is quite a peculiar one and so I always had a hard time finding a radio station that would my needs. That is why I have build my own. A personal online radio station that focuses primarily on ambient & related genres. 
                <p>It is written in Python using Flask framework, running on Fedora Linux, Streaming nonstop 24/7 to the whole cosmos.</p>
            </div>
         </a>
    </div>

         <a style="text-decoration: none; text-align: justify;" href="http://www.atma-fm.eu"><div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">AtmaFM - Underground Online Radio</h3>
                <p>I have always been a huge fan of music. Unfortunatelly, my musical taste is quite a peculiar one and so I always had a hard time finding a radio station that would my needs. That is why I have build my own. A personal online radio station that focuses primarily on ambient & related genres. 
                <p>It is written in Python using Flask framework, running on Fedora Linux, Streaming nonstop 24/7 to the whole cosmos.</p>
            </div>
         </a>



    </div>


</div>









{% endblock %}
