{% extends 'layout.html' %}

{% block content %}
<div class="row">

    <div class="container col-sm-4" style="text-align: justify">
        <div class="mycontainer">
            <h4>About Me - The Short Story</h4>
            <p class="about">I am a lonely Python/C++ coder with a background in financial markets and an interest in modern art. I am an application-driven guy, not a computer scientist. Sure I have many gaps in my knowledge, but I strive to do my best to fill them. I keep learning new things, listening to smart guys, correcting my mistakes, and pushing myself to the limits. I enjoy it.</p>
            <p class="about">I will use this website both as a blog and as a hub to some of my projects. It is written from scratch in Python's Flask, my favourite web-framework.</p>
        </div>
        <hr>
        <div>
            <a class="twitter-timeline" data-theme="light" href="https://twitter.com/lukaskotatko/likes?ref_src=twsrc%5Etfw">Tweets Liked by @lukaskotatko</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>

    <div class="container col-sm-8">

        <!-- FLASH MESSAGE WHEN I LOG IN -->  
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="uk-alert-{{ category }} uk-alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- POSTS FEED -->
        {%+ for post in posts %}
            <article class="mycontainer">
                <h3>{{ post.title }}</h3>
                <p>{{ post.body | safe | truncate(250) }}</p>
                
                {%+ for tag in post.tags.split(",") %}
                    {%+ if tag %}
                        <a href=" {{url_for('tagged_posts', tag=tag.strip()) }} "><div class="float-left tags">{{+ tag }}&nbsp</div></a>
                    {%+ endif  %}
                 {%+ endfor %}

                <div class="float-right">
                    <a href="{{ url_for('post', post_id = post.id) }}"><button class="uk-button uk-button-small">Read More</button></a>
                </div>
                <br>
            </article>
            <br>
        {%+ endfor %}
    </div>
</div>
{% endblock %}
