{% extends 'layout.html' %}

{% block content %}

    <div class="container longstory">
        <h3>Tools & Technologies</h3>
        <hr>
        <p>Here are the tools and technologies that I have used over time. If something is listed here, it means that I have some hands-on experience with it. The level of experience differs, however. For example, I am more fluent in C++ and Python then in Javascript, I know better Flask then QT, I have written more SQL then NoSQL queries, and I have spent more time on Windows then on Mac.</p>
        
        <ul class="uk-list uk-list-divider">
            <li><strong>Languages: </strong> Java, Python, C/C++, Javascript, XQuery, HTML, CSS, Powershell, Bash, CMake</li>
            <li><strong>Frameworks: </strong> Flask, Django, Falcon, Dash, Selenium, Pytest, Bootstrap, UIkit, WXwidgets, QT, ACSIL </li>
            <li><strong>Web Servers & Related: </strong>Nginx, uWSGI, Gunicorn, Icecast, Heroku</li>
            <li><strong>Databases: </strong> MySQL, Oracle, PostgreSQL, SQLite, MongoDB, ElasticSearch, SQLAlchemy </li>
            <li><strong>Version Control: </strong> Git, GitHub, GitLab, TortoiseSVN</li>
            <li><strong>Editors & IDEs: </strong> VS Code, Visual Studio C++, CLion, Pycharm, IntelliJ, Eclipse, Vim</li>
            <li><strong>Project & Content Management: </strong> Jira, Atlassian</li>
            <li><strong>Operating Systems: </strong> Windows, Linux, Mac</li>
        </ul>
    </div>
    {% endblock %}
