<div class="uk-position-top uk-navbar-transparent">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('posts')}}">Posts</a></li>
                <li><a href="{{ url_for('projects')}}">Projects</a></li>
                <li style="margin-right:100px"><a href="{{ url_for('contact')}}">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>