body{
    background-color: #F8F9FA;
}

.mycontainer{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.about{
    font-size: 14px;
}

.longstory{
    text-align: justify;
}

.post{
    text-align: justify;
}


@media screen and (min-width: 801px) {
    .longstory {
      width: 80%;
    }
    .projects {
        width: 80%;
    }
    .post {
        width: 80%;
    }

  }

@media screen and (max-width: 800px) {
    .longstory {
        width: 100%;
    }
    .projects {
        width: 100%;
    }
    .post {
        width: 100%;
    }
  }

