body{
    background-color: #F8F9FA;
}

.mycontainer{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.about{
    font-size: 14px;
}

.longstory{
    text-align: justify;
   
}

@media screen and (min-width: 601px) {
    .longstory {
      width: 80%;
    }
  }

@media screen and (max-width: 600px) {
    .longstory {
        width: 100%;
    }
  }